{% import '_includes/forms' as forms %}

{{ forms.checkboxGroupField({
	label : 'Allowed Sites' | t('sites-field'),
	instructions : 'The sites that may be chosen for this field.' | t('sites-field'),
	id : 'whitelistedSites',
	name : 'whitelistedSites',
	values: field.whitelistedSites,
	options : sites
}) }}

{{ forms.checkboxField({
	label : 'Allow Multiple' | t('sites-field'),
	instructions : 'If checked, the user can select multiple sites, otherwise they can only select one.' | t('sites-field'),
	id : 'allowMultiple',
	name : 'allowMultiple',
	checked: field.allowMultiple
}) }}

{{ forms.checkboxField({
	label : 'Propagate trough sites' | t('sites-field'),
	instructions : 'If checked, the plug-in will automatically set the enabled for the sites selected in the field. Important, this wil only work for one field attached to the entrytype, when multiple fields have this settings it will only use the first.' | t('sites-field'),
	id : 'propegate',
	name : 'propagate',
	checked: field.propagate
}) }}
